nav{
    box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
    display: flex;
    padding: 20px 36px
}
.nav--logo{
    max-width: 100px;
}
section{
    padding: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero--logo{
    align-self: center;
    max-width: 400px;
}
.hero--header{
    margin-bottom: 16px;
}
.hero--words{
    margin-top:0;
}
.card--women{
margin-bottom: 0px;
}
.card--star{
    height: 14px
}
.bold{
    font-weight: bold;
}
.gray {
    color: #918E9B;
}
